.location {
  padding-bottom: 2.5em;

  &__content {
    background-color: rgba(0, 0, 0, 0.24);
    color: aliceblue;
    max-width: 400px;
    width: 100%;
    padding: 1.25em;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.753);
  }

  &__name {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-bottom: .5em;
  }

  &__details {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    text-align: center;

    &-span {
      display: block;
      font-size: 14px;
      color: #e0d8d8;
    }

  }


}